/*
!.gitignore
!bat.fish
!erc.fish
!fish_command_not_found.fish
!fish_prompt.fish
!fs.fish
!lsblk.fish
!p6d.fish
!pbd.fish
!pp.fish
!ssho.fish
!svi.fish
!tk.fish
!venv.fish
!wshowkeys.fish
!xray.fish
